In [1]:
import json
import pandas as pd
import urllib3

a = 0
b = 1
c = 0
baseURL = 'https://api.thingspeak.com/channels/1677274/feeds.json?api_key=IM12G9K17XCZT79G&results=60'
http = urllib3.PoolManager()
response = http.request('GET', baseURL)
data = json.loads(response.data)
Inference_DF = pd.DataFrame(data['feeds'])
Inference_DF=Inference_DF.drop(['entry_id'],axis=1)
Inference_DF

              created_at field1 field2 field3
0   2022-03-18T14:34:50Z  29.10  30.00      5
1   2022-03-18T14:35:54Z  28.70  29.00      0
2   2022-03-18T14:36:28Z  28.70  28.00      2
3   2022-03-18T14:36:54Z  28.50  25.00      4
4   2022-03-18T14:37:18Z  28.50  22.00      5
5   2022-03-18T14:37:33Z  28.50  20.00      5
6   2022-03-18T14:37:53Z  28.70  28.00      3
7   2022-03-18T14:38:10Z  28.70  29.00      6
8   2022-03-18T14:38:34Z  28.50  28.00      6
9   2022-03-18T14:38:50Z  28.60  26.00      6
10  2022-03-18T14:39:08Z  28.50  23.00      5
11  2022-03-18T14:39:29Z  28.50  20.00      6
12  2022-03-18T14:39:45Z  28.60  19.00      6
13  2022-03-18T14:40:02Z  28.70  22.00      5
14  2022-03-18T14:40:17Z  28.70  22.00      6
15  2022-03-18T14:40:35Z  28.70  22.00      6
16  2022-03-18T14:40:51Z  28.70  22.00      6
17  2022-03-18T14:41:08Z  28.70  21.00      6
18  2022-03-18T14:41:23Z  28.70  19.00      5
19  2022-03-18T14:41:51Z  28.70  23.00      5
20  2022-03-18T14:42:14Z  28.70  22.00      5
21  2022-03-18T14:42:29Z  28.80  21.00      6
22  2022-03-18T14:42:46Z  28.80  22.00      7
23  2022-03-18T14:43:04Z  28.70  21.00      5
24  2022-03-18T14:43:23Z  28.70  23.00      7
25  2022-03-18T14:43:45Z  28.60  29.00      4
26  2022-03-18T14:44:01Z  28.50  24.00      6
27  2022-03-18T14:44:30Z  28.40  22.00      5
28  2022-03-18T14:45:03Z  28.50  21.00      6
29  2022-03-18T14:45:18Z  28.50  21.00      5
30  2022-03-18T14:45:39Z  28.60  23.00      7
31  2022-03-18T14:45:55Z  28.50  16.00      4
32  2022-03-18T14:46:19Z  28.70  17.00     10
33  2022-03-18T14:46:35Z  28.70  17.00      5
34  2022-03-18T14:46:52Z  28.80  18.00      7
35  2022-03-18T14:47:10Z  28.80  18.00      7
36  2022-03-18T14:47:27Z  28.80  20.00      7
37  2022-03-18T14:47:47Z  28.90  20.00      2
38  2022-03-18T14:48:05Z  29.00  27.00      7
39  2022-03-18T14:48:20Z  29.00  28.00      6
40  2022-03-18T14:48:39Z  28.90  28.00      1
41  2022-03-18T14:48:54Z  28.90  27.00      9

In [4]:
Inference_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  42 non-null     object
 1   field1      42 non-null     object
 2   field2      42 non-null     object
 3   field3      42 non-null     object
dtypes: object(4)
memory usage: 1.4+ KB